/* ¤*******¤*******¤ GENERAL ¤*******¤*******¤ */

/* ********** REGLAGES POLICES TITRES & PARAGRAPHES ********** */
@font-face {
    font-family: "Raleway";
    src: url("Raleway-VariableFont_wght.ttf");
}

main, section, nav {
    font-family: Raleway, Verdana, Arial, serif;
    line-height: 0.7;
    margin: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
}

p, nav, button {
    font-size: 16px;
    white-space: nowrap;
}

/* ********** HEADER ********** */

/* ***** LOGO ET ANCRES PAGE ***** */
#logo-menu, nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 15px; /* sinon décalage par rapport haut de page */
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 60px;
    margin-bottom: 25px;
}

#logo {
    width: 100px;
    height: 47px;
    margin-top: 10px;
    padding-top: 20px;
}

nav ul li {
    padding-right: 30px;
    padding-left: 30px;
}

nav ul li a:hover {
    color: #0065fc;
    border-top: 2px #0065fc solid;
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

/* ********** MAIN ********** */

/* ********** INTRO ********** */
/* ***** BARRE DE RECHERCHE ***** */

#search-bar, input[value] {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px #f2f2f2;
    font-size: 16px;
    flex: none;
}

/* Partie grisée, utilisation des noms de classe et pas d'un id car sinon l'icone est bleue du fait des règles de priorité*/
.fa-solid.fa-location-dot {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 20px;
    border-top: 1px #f2f2f2 solid;
    border-bottom: 1px #f2f2f2 solid;
    background-color: #f2f2f2;
    color: black;
}

#search {
    margin-left: 15px;
    padding-left: 15px;
    border-top: 1px #f2f2f2 solid;
    border-bottom: 1px #f2f2f2 solid;
    border-left: hidden;
    border-right: hidden;
    font-weight: bold;
}

#search:focus {
    outline: none;
}

#search-button {
    width: 136px;
    height: 53px;
    padding-left: 18px;
    padding-right: 18px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065fc;
    border: #0065fc;
    color: white;
    text-align: center;
    font-weight: bold; /* ne correspond pas tout à fait */
    position: sticky;
}

/* ***** FILTRES ***** */
#filters {
    display: flex;
    font-weight: bold;
    font-size: 16px;
}

#transparent-button{
    margin-top: 20px;
    padding: 15px;
}

#filter-buttons {
    display: flex;
}

.filter-button {
    margin-top: 15px;
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    border-radius: 100px;
    border: 3px #d6d6d6 solid;
    border-left: hidden;
    flex: none;
}

.filter-button:hover {
    background-color: #0065fc;
}

.blue-icon {
    margin-right: 16px;
    padding: 16px;
    border-radius: 50%;
    background-color: #deebff;
    font-size: 18px;
}

.fa-solid.fa-child {
    padding-left: 3px;
    padding-right: 3px;
}

.fa-solid {
    color: #0065fc;
}


/* ¤*******¤*******¤ MEDIA QUERIES ¤*******¤*******¤ */

/* ***** TABLETTE ***** */

/* *** >PAYSAGE *** */
@media screen and (max-width: 992px) and (orientation:landscape)
{
    main, div {
        width: auto;
        flex-wrap: nowrap;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding-bottom: 20px;
    }

    nav ul li a:hover {
        border-top: hidden;
        border-left: 2px #0065fc solid;
        padding-top: 15px;
    }
}

/* *** >PORTRAIT *** */

@media screen and (max-width: 992px) and (orientation:portrait)
{
    /* à compléter, l'idée serait de reprendre ce qui est fait pour téléphone et adapter à la taille écran tablette? */
}


/* ***** SMARTPHONE ***** */

/* *** >PORTRAIT *** */
@media screen and (max-width: 768px) and (orientation:portrait)
{

    /* ** MARGES & EN-TETE ** */
    main, section, nav {
        margin: 0px;
    }

    #logo-menu {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
        padding: 0px;
        flex-direction: column;
    }

    #logo {
        margin-left: 50%;
    }
    

    nav ul {
        width: 100%;
        justify-content: space-evenly;
        margin-left: 0px;
        margin-top: 30px;
        padding-bottom: 15px;
        border-bottom: 3px #f2f2f2 solid;
    }

    nav ul li a:hover {
        border-top: none;
        color: #0065fc;
        border-bottom: 2px #0065fc solid;
        padding-bottom: 12px;
    } /* Problème restant: longueur de la bordure colorée */
    
    /* ** BARRE RECHERCHE ** */
    h1, p, #search-bar {
        margin-left: 10px;
        white-space: normal;
        line-height: 1;
    }

    #search-button {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 50px;
        color: transparent;
    }

    .fa-solid.fa-magnifying-glass {
        align-items: center;
        color: white;
    }

    /* ** FILTRES ** */
    #filters {
        flex-direction: row;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    #filter-buttons {
        flex-direction: row;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .filter-button {
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 10px;
    }
    
}

/* *** >PAYSAGE *** */
@media screen and (max-width: 768px) and (orientation:landscape)
{
    /* à compléter */
}