/* ¤*******¤*******¤ GENERAL ¤*******¤*******¤ */

/* ********** REGLAGES POLICES TITRES & PARAGRAPHES ********** */
@font-face {
    font-family: "Raleway";
    src: url("Raleway-VariableFont_wght.ttf");
}

body {
    font-family: Raleway, Verdana, Arial, serif;
    line-height: 0.7;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
}

p, nav, button {
    font-size: 16px;
    white-space: nowrap;
}

/* ********** HEADER ********** */
header {
    display: flex;
    justify-content: space-between;
}

/* ***** LOGO ***** */
#logo {
    width: 100px;
    height: auto;
    padding-top: 20px;
    padding-left: 25px;
}

/* ***** MENU ***** */
nav {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    border-top: 2px transparent solid;
}

nav ul li:hover {
    color: #0065fc;
    border-top: 2px #0065fc solid;
}

a {
    text-decoration: none;
    color: black;
}

/* ********** MAIN ********** */

/* ********** INTRO ********** */
/* ***** BARRE DE RECHERCHE ***** */

#search-bar, input[value] {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px #f2f2f2;
    font-size: 16px;
    flex: none;
}

/* Partie grisée, utilisation des noms de classe et pas d'un id car sinon l'icone est bleue du fait des règles de priorité*/
.fa-solid.fa-location-dot {
    display: inline;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
    border-top: 2px #f2f2f2 solid;
    border-bottom: 2px #f2f2f2 solid;
    background-color: #f2f2f2;
    color: black;
}

#search {
    border-top: 1px #f2f2f2 solid;
    border-bottom: 1px #f2f2f2 solid;
    border-left: hidden;
    border-right: hidden;
    font-weight: bold;
}

#no-mobile-search-button {
    display: inline;
    padding: 15px 20px 15px 20px;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    border: none;
    text-align: center;
    color: white;
    font-weight: bold; /* ne correspond pas tout à fait */
    position: sticky;
    cursor: pointer;
}

#no-dekstop-search-button {
    display:none;
}



/* ***** FILTRES ***** */

#display-filter-buttons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    font-weight: bold;
    font-size: 16px;
}

.filter-button {
    display: inline-block;
    white-space: nowrap;
    padding-right: 15px;
    border-radius: 25px;
    border: 2px #d2d2d2 solid;
    font-weight: bold
}

a div i.fa-solid {
    margin-right: 15px;
    padding: 15px;
    border-radius: 50%;
    border: none;
    background-color: #deebff;
    color: #0065fc;
}

.filter-button:hover {
    background-color:#0065fc;
    color:#01255c;
}

/* ***** RESULTAT RECHERCHE ***** */
#search-result {
    margin-top: 40px;
}

.i-info {
    margin-right: 10px;
    border-radius: 50%;
    border: 1px #d2d2d2 solid;
    padding: 2px 9px 1px 9px;
    font-family: Courrier New, Constantia, Cambria, serif;
    font-size: 18px;
    font-weight: bold;
    color: #0065fc;
}










/* ¤*******¤*******¤ MEDIA QUERIES ¤*******¤*******¤ */

/* ***** TABLETTE ***** */
@media screen and (max-width: 992px)
{
    
    /* ** LOGO & ANCRES ** */
    nav ul li{
        padding-bottom: 15px;
        border-top: none;
        border-bottom: #f2f2f2 solid;
    }

    nav ul li:hover {
        border-top: none;
        padding-bottom: 15px;
        color: #0065fc;
        border-bottom: #0065fc solid;
    }

    /* ** BARRE RECHERCHE ** */
    #no-mobile-search-button {
        display: none;
    }

    #no-dekstop-search-button {
        display: inline;
        padding: 15px;
        border-radius: 15px 15px 15px 15px;
        border: 2px #0065fc solid;
        background-color: #0065fc;
        cursor: pointer;
    }

    .fa-solid.fa-magnifying-glass {
        align-items: center;
        color: white;
    }

     /* ** FILTRES ** */

     #display-filter-buttons {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
     }

    #filter-buttons {
        flex-direction: row;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    
}


/* *** >PORTRAIT *** */

@media screen and (max-width: 992px) and (orientation:portrait)
{
    /* à compléter, l'idée serait de reprendre ce qui est fait pour téléphone et adapter à la taille écran tablette? */
}




/* ***** SMARTPHONE ***** */ 

/* *** >PORTRAIT *** */
@media screen and (max-width: 768px) and (orientation:portrait)
{

   /* ** GENERAL ** */

   body {
       width: 100%;
   }

    h1, p {
    white-space: normal;
    line-height: 1.2;
    }

    /* ** HEADER ** */
    header {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    /* LOGO */
    #logo {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: auto;
        padding: 0;
    }

    /* MENU */

    nav ul {
        padding: 0;
    }

    nav ul li{
        display: flex;
        align-items: stretch;
        padding: auto;
        border-top: none;
        border-bottom: #f2f2f2 solid;
    }

    nav ul li:hover {
        border-top: none;
        color: #0065fc;
        border-bottom: #0065fc solid;
    }


    /* ** BARRE RECHERCHE ** */

    #display-filter-buttons {
        width: 100%;
    }

    #no-mobile-search-button {
        display: none;
    }

    #no-dekstop-search-button {
        display: inline;
        padding: 15px;
        border-radius: 15px 15px 15px 15px;
        border: 2px #0065fc solid;
        background-color: #0065fc;
        cursor: pointer;
    }

    .fa-solid.fa-magnifying-glass {
        align-items: center;
        color: white;
    }

    /* ** FILTRES ** */

    #display-filter-buttons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #filter-buttons {
        flex-direction: row;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    
    }

/* *** >PAYSAGE *** */
@media screen and (max-width: 768px) and (orientation:landscape)
{
    /* à compléter */
}