/* ¤*******¤*******¤ GENERAL ¤*******¤*******¤ */

/* ********** REGLAGES POLICES TITRES & PARAGRAPHES ********** */
@font-face {
    font-family: "Raleway";
    src: url("Raleway-VariableFont_wght.ttf");
}

html {
    margin: 0;
}

body {
    font-family: Raleway, Verdana, Arial, serif;
    line-height: 0.7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

p, nav, button {
    font-size: 16px;
    line-height: 1;
}

/* ********** HEADER ********** */
header {
    display: flex;
    justify-content: space-between;
}

/* ***** LOGO ***** */
#logo-img {
    width: 100px;
    height: auto;
}

#logo {
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 20px;
}

/* ***** MENU ***** */
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-right: 150px;
}

nav ul li {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 2px transparent solid;
}

nav ul li:hover {
    color: #0065fc;
    border-top: 2px #0065fc solid;
}

a {
    text-decoration: none;
    color: black;
}

/* ********** MAIN ********** */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    margin: auto;
    margin-left: 40px;
}

/* ********** INTRO ********** */
/* ***** BARRE DE RECHERCHE ***** */
#search-bar, input[value] {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px #f2f2f2;
    font-size: 16px;
    white-space: nowrap; /* maintien du bouton formulaire */
}

/* Partie grisée, utilisation des noms de classe et pas d'un id car sinon l'icone est bleue du fait des règles de priorité*/
.fa-solid.fa-location-dot {
    display: inline;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
    border-top: 2px #f2f2f2 solid;
    border-bottom: 2px #f2f2f2 solid;
    background-color: #f2f2f2;
    color: black;
}

#search {
    border-top: 1px #f2f2f2 solid;
    border-bottom: 1px #f2f2f2 solid;
    border-left: hidden;
    border-right: hidden;
    font-weight: bold;
}

#no-mobile-search-button {
    display: inline;
    padding: 15px 20px 15px 20px;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    border: none;
    text-align: center;
    color: white;
    font-weight: bold; /* ne correspond pas tout à fait */
    position: sticky;
    cursor: pointer;
}

#no-dekstop-search-button {
    display:none;
}


/* ***** FILTRES ***** */
#filters {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    font-weight: bold;
    font-size: 16px;
}

#filters h6 {
    font-size: 16px;
    margin: 20px;
}

.filter-button {
    display: inline-block;
    white-space: nowrap;
    margin-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    border: 2px #d2d2d2 solid;
    border-left: none;
    font-weight: bold
}

#display-filter-buttons a div i.fa-solid {
    margin-right: 15px;
    padding: 15px;
    border-radius: 50%;
    border: 2px #deebff solid;
    background-color: #deebff;
    color: #0065fc;
}

.filter-button:hover {
    background-color:#0065fc;
    color:white;
}

/* ***** RESULTAT RECHERCHE ***** */
#search-result {
    margin-top: 40px;
    margin-bottom: 40px;
}

.i-info {
    margin-right: 10px;
    border-radius: 50%;
    border: 1px #d2d2d2 solid;
    padding: 2px 9px 1px 9px;
    font-family: Courrier New, Constantia, Cambria, serif;
    font-size: 18px;
    font-weight: bold;
    color: #0065fc;
}



/* ********** ARTICLES ********** */
h3 {
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
    white-space: normal;;
}

.card-body-loc p, .card-body-pop p {
    margin-top: 0;
    font-size: 13px;
}


/* ***** HEBERGEMENTS ***** */
#hebergements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* *** GENERAL CARDS *** */
.cards-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.stars {
    font-size : 11px;
}

.fa-solid.fa-star {
    color:#0065fc;
}

.fa-solid.fa-star.grey {
    color: #d2d2d2;
}

/* *** H-VILLE *** */
#hebergements-ville {
    box-sizing: border-box;
    width: 65%;
    min-width: 830px;
    height: 620px;
    border-radius: 25px; 
    background-color: #f2f2f2;
    padding: 15px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.location-card {
    box-sizing: border-box;
    width: 250px;
    height: 200px;
    border-radius: 25px;
    background-color: white;
    padding: 5px;
    padding-bottom: 15px;
    box-shadow: 3px 3px 10px #d2d2d2;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.location-card:hover, .location-card-pop:hover, .activity-card:hover, .activity-card.big:hover {
    transform: scale(1.1);
}

.card-body-loc {
    height: 40px;
    display: block;
    flex-direction: column;
    padding: 15px;
    line-height: 0.5;
}

.location-card-img {
    display: block;
    margin: 0;
    width: 100%;
    height: 150px;
    border-radius: 25px 25px 0px 0px;
    overflow: hidden;
}



/* *** H-POPULAIRES *** */
#hebergements-populaires {
    box-sizing: border-box;
    width: 32%;
    min-width: 360px;
    height: 620px;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

#hebergements-pop-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hebergements-pop-title i {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location-card-pop {
    box-sizing: border-box;
    width: 350px;
    height: 145px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 3px 3px 10px #d2d2d2;
    padding: 5px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.card-body-pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.hebergement-pop-img {
    background-size: cover;
    display: block;
    margin: auto;
    width: 135px;
    height: 100%;
    border-radius: 20px 0 0 20px;
}


/* ***** ACTIVITES ***** */
#activites {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

#activites h4 {
    margin: 15px;
}

.cards-display-activites {
    max-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity-card {
    box-sizing: border-box;
    width: 280px;
    height: 230px;
    border: 1px #f2f2f2 solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #d2d2d2;
    margin-bottom: 20px;
}

.activity-image {
    background-size: cover;
    display: block;
    margin: auto;
    width: 100%;
    height: 80%;
    border-radius: 25px 25px 0 0;
}

.activity-card h4 {
    line-height: 1;
    padding-left: 10px;
}

.activity-card.big {
    box-sizing: border-box;
    width: 280px;
    height: 500px;
    border: 1px #f2f2f2 solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #d2d2d2;
    margin-bottom: 20px;
}

.activity-image-big {
    background-size: cover;
    width: 90%x;
    height: 87%;
    border-radius: 25px 25px 0 0;
}

.activity-card.big h4 {
    line-height: 2;
    padding-left: 10px;
}

/* ********** FOOTER ********** */

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    line-height: 1.5;
}

ul {
    padding: 0;
    list-style-type: none;
}






/* ¤*******¤*******¤ MEDIA QUERIES ¤*******¤*******¤ */

/* ***** TABLETTE ***** */
@media screen and (max-width: 992px)
{
    /* *** HEADER *** */
    /* ** LOGO & ANCRES ** */
    nav ul li{
        padding-bottom: 15px;
        border-top: none;
        border-bottom: #f2f2f2 solid;
    }

    nav ul li:hover {
        border-top: none;
        padding-bottom: 15px;
        color: #0065fc;
        border-bottom: #0065fc solid;
    }

    /* *** MAIN *** */
    main {
        justify-content: space-between;
        margin: 30px;
    }
    /* ** BARRE RECHERCHE ** */
    #no-mobile-search-button {
        display: none;
    }

    #no-dekstop-search-button {
        display: inline;
        padding: 15px;
        border-radius: 15px 15px 15px 15px;
        border: 2px #0065fc solid;
        background-color: #0065fc;
        cursor: pointer;
    }

    .fa-solid.fa-magnifying-glass {
        align-items: center;
        color: white;
    }

     /* ** FILTRES ** */
     #filters {
         width: 100%;
         display: flex;
         flex-direction: column;
     }

     #display-filter-buttons {
         width: 100%;
         display: flex;
         margin: 15px;
     }    

     .filter-button {
        margin-left: 0;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    /* ** RESULTAT RECHERCHE ** */
    #search-result {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* ** HEBERGEMENTS ** */
    #hebergements {
        flex-direction: column-reverse;
    }

    /* H-VILLE */
    #hebergements-ville {
        height: fit-content;
        width: 100%;
        min-width: 0;
        background-color: transparent;
    }

    .cards-display {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .location-card:hover {
        transform: scale(1);
    }

    /* H-POPULAIRES */
    #hebergements-populaires {
        height: fit-content;
        width: 100%;
        padding: 0px 20px 5px 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #hebergements-populaires h1 {
        padding: 0px 20px 5px 15px;
    }

    .location-card-pop:hover {
        transform: scale(1);
    }


    /* ** ACTIVITES ** */   
    #activites h2 {
        margin-top: 0;
    } 

    .cards-display-activites {
        max-height: fit-content;
        justify-content: space-evenly;
    }
    
    .cards-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .activity-card:hover {
        transform: scale(1);
    }

    .activity-card.big {
        margin-bottom: 20px;
    }

    .activity-card.big:hover {
        transform: scale(1);
    }

    /* *** FOOTER *** */
    footer {
        margin: 0;
        justify-content: space-evenly;
    }
}





/* ***** SMARTPHONE ***** */ 
@media screen and (max-width: 768px)
{

   /* *** GENERAL *** */
   body {
       width: 100%;
       flex-direction: column;
       justify-content: flex-start;
       margin: auto;
   }

    h2, p {
    white-space: normal;
    line-height: 1.2;
    }

    /* *** HEADER *** */
    header {
        width: 100%;
        flex-direction: column;
        align-content: stretch;
    }
    
    /* ** LOGO ** */
    #logo {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: auto;
        padding: 0;
    }

    /* ** MENU ** */
    nav ul {
        width: 100%;
        justify-content: stretch;
        padding: 0;
    }

    nav ul li{
        width: 50%;
        display: flex;
        justify-content: center;
        border-top: none;
        border-bottom: #f2f2f2 solid;
    }

    nav ul li:hover {
        border-top: none;
        color: #0065fc;
        border-bottom: #0065fc solid;
    }

    /* *** MAIN *** */
    main {
        margin-left: 0;
    }
    /* nécessaire car sinon marge à gauche de la section hébergements populaires, donc bande blanche à gauche du background gris + décalage du menu en haut. */

    /* ** INTRO ** */
    #intro {
        width: 100%;
        margin: 15px;
    }
    /* BARRE RECHERCHE */
    #no-mobile-search-button {
        display: none;
    }

    #no-dekstop-search-button {
        display: inline;
        padding: 15px;
        border-radius: 15px 15px 15px 15px;
        border: 2px #0065fc solid;
        background-color: #0065fc;
        cursor: pointer;
    }

    .fa-solid.fa-magnifying-glass {
        align-items: center;
        color: white;
    }

    /* FILTRES */
    #display-filter-buttons {
        flex-wrap: wrap;
    }

    .filter-button {
        margin-right: auto;
    }

    /* ** HEBERGEMENTS ** */
    #hebergements {
        margin-bottom: 0;
        min-width: 0px;
    }

    /* H-VILLE */
    #hebergements-ville {
        margin: 5px;
        margin-bottom: 20px;
        background-color: transparent;
        text-align: center;
    }

    .location-card {
        width: 330px;
    }

    .location-card:hover {
        transform: scale(1);
    }

    .card-body-loc {
        line-height: 0;
    }

    /* H-POPULAIRE */
    #hebergements-populaires {
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding-left: 10px;
    }

    .location-card-pop {
        width: 320px;
    }

    .location-card-pop:hover {
        transform: scale(1);
    }

    /* ** ACTIVITES ** */
    #activites {
        text-align: center;
        margin-bottom: 25px;
    }
    
    #activites h2 {
        margin-left: 22px;
    }

    .cards-display-activites {
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    
    .cards-column {
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .activity-card.big, .activity-card {
        box-sizing: border-box;
        width: 320px;
        height: 200px;
        border-radius: 25px;
        box-shadow: 3px 3px 10px #d2d2d2;
        margin: auto;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
    }

    .activity-card.big:hover, .activity-card:hover {
        transform: scale(1);
    }

    /* *** FOOTER *** */

    footer {
        margin: 0;
        padding: 20px;
        flex-direction: column;
        text-align:center; /* sinon fait des choses moches sur les ipad petites dimensions */
    }
}